<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<div style="display: inline-block; width: 20%;">
    <h1>User</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Lastname</th>
            <th>Username</th>
        </tr>
        <tr>
            <td th:text="${currentUser.getId()}"></td>
            <td th:text="${currentUser.getFirstName()}"></td>
            <td th:text="${currentUser.getLastName()}"></td>
            <td th:text="${currentUser.getUsername()}"></td>
        </tr>
    </table>
</div>
<p><a th:href="@{/logout}">Logout</a></p>
</body>
</html>